/* ----------------------------------------------
 * include scss that is partials
 * ---------------------------------------------- */
/**
 * default color
 */
/**
 * default block height & width
 */
/**
 * Clearfix with using HTML5 Boilerplate
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* ----------------------------------------------
 * include components
 * ---------------------------------------------- */
.div-master {
  background-color: #ff0;
  border-color: #000;
  height: auto;
  width: 300px; }

.div-center {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0; }

.indiv-center {
  line-height: 100px;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
  vertical-align: middle; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.btn {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px; }
  .btn button {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px; }

.content-s {
  background-color: #9f3;
  height: auto;
  width: 150px; }

.content-m {
  background-color: #69f;
  height: auto;
  width: 200px; }

.content-l {
  background-color: #f96;
  height: auto;
  width: 400px; }

.content-text {
  color: #000; }
