/**
 * default color
 */
$color-dark		: #000;
$color-bg			: #ff0;
$color-s      : #9f3;
$color-m      : #69f;
$color-l      : #f96;

/**
 * default block height & width
 */
$block-height	: 100px;
$block-width	: 300px;

$block-height-s	: 50px;
$block-width-s	: 150px;

$block-height-m	: 800px;
$block-width-m	: 200px;

$block-height-l	: 150px;
$block-width-l	: 400px;

/**
 * Clearfix with using HTML5 Boilerplate
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}