.content-s {
  background  : {
    color     : $color-s;
  }
  height      : auto;
  width       : $block-width-s;
}

.content-m {
  background  : {
    color     : $color-m;
  }
  height      : auto;
  width       : $block-width-m;
}

.content-l {
  background  : {
    color     : $color-l;
  }
  height      : auto;
  width       : $block-width-l;
}

.content-text {
  color       : $color-dark;
}