.div-master {
  background  : {
    color     : $color-bg;
  }
  border      : {
    color     : $color-dark;
  }
  height      : auto;
  width       : $block-width;
}

.div-center {
	margin  : {
  	bottom: 0;
  	left 	: auto;
  	right : auto;
  	top  	: 0;
  }
}